* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fullscreen Styles */
body {
    background-color: #083452;
    color: white;
    font-family: 'Roboto', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    margin: 0;
}

#quoteImage {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.container {
    padding: 80px;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    max-width: 1000px;
    text-align: center;
    background-color: rgba(26, 202, 32, 0.7);
    font-family: 'Lora', 'Times New Roman', serif;
    color: white;
}

/* Loading Spinner Styles */
.loading-spinner {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 4px solid #3cb840;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    display: none;
    margin: 0 auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Quote Styles */
#quoteContainer {
    padding: 20px;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    margin: 20px;
    background-color: rgba(26, 202, 32, 0.7); /* Adjusted background color */
    background-image: url("https://source.unsplash.com/1920x1080/?quote");
    background-size: cover;
    background-position: center;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Lora', 'Times New Roman', serif;
    color: white; /* Adjusted font color */
}

#quoteText {
    margin-bottom: 10px;
    color: white; /* Adjusted font color */
}

#author {
    font-size: 19px;
    font-family: 'Lora', 'Times New Roman', serif;
}

/* Button Styles */
button {
    background-color: white;
    color: #4CAF50;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin: 5px;
}

button:hover {
    background-color: #4CAF50;
    color: white;
}

#likeButton {
    margin-bottom: 20px;
}

/* Comment Styles */
#commentContainer {
    max-width: 500px;
}

#commentInput {
    width: 100%;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    margin-bottom: 10px;
    color: white;
    background-color: rgba(37, 204, 42, 0.7);
}

#addCommentButton {
    background-color: white;
    color: #4CAF50;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#addCommentButton:hover {
    background-color: #4CAF50;
    color: white;
}

#commentsList {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

.comment {
    background-color: #ffffff22;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 5px;
    color: rgb(255, 255, 255);
}

/* Responsive Design */
@media screen and (max-width: 600px) {
    .container {
        padding: 10px;
    }

    #quoteContainer {
        max-width: 80%;
    }
}

/* Load web fonts using Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Lora:wght@400;700&display=swap');
